## Cleaning Content.csv

In [56]:
# Importing Libraries

import numpy as np
import pandas as pd

In [57]:
# Reading the file
df1 = pd.read_csv("Content.csv")

In [58]:
df1.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [59]:
# Checking the shape
df1.shape

(1000, 6)

In [60]:
# Looking for Data Types
df1.dtypes

Unnamed: 0     int64
Content ID    object
User ID       object
Type          object
Category      object
URL           object
dtype: object

In [61]:
# We do not need url for analysis so we will remove that column
df1 = df1.drop(columns=["URL","User ID"])

In [62]:
# Looking for the null values
df1.isnull().sum()

Unnamed: 0    0
Content ID    0
Type          0
Category      0
dtype: int64

In [63]:
# Looking for current shape of the dataframe
df1.shape

(1000, 4)

In [64]:
# Changing name of the colunm Type to ContentType
df1 = df1.rename(columns={'Type':'ContentType'})

In [65]:
#Counting the distinct type of calues a column have
count_content_id = df1["ContentType"].value_counts()
print(count_content_id)
print("-----------------------------------")
count_category = df1["Category"].value_counts()
print(count_category)

ContentType
photo    261
video    259
GIF      244
audio    236
Name: count, dtype: int64
-----------------------------------
Category
technology           71
animals              67
travel               67
culture              63
science              63
fitness              61
food                 61
healthy eating       61
cooking              60
soccer               58
tennis               58
education            57
dogs                 56
studying             55
veganism             48
public speaking      48
Fitness               5
Animals               4
Science               4
"soccer"              3
"culture"             3
Soccer                3
"dogs"                2
Education             2
Studying              2
Travel                2
Food                  2
"veganism"            1
"public speaking"     1
Public Speaking       1
"technology"          1
"cooking"             1
Healthy Eating        1
"studying"            1
"food"                1
Culture               1
"tennis"              1
Technology            1
"animals"             1
Veganism              1
"science"             1
Name: count, dtype: int64

In [66]:
# We need to fix this type error
df1["Category"] = df1["Category"].str.replace('"','',regex=False)
df1["Category"] = df1["Category"].str.lower()

In [67]:
df1["Category"].value_counts()

Category
technology         73
animals            72
travel             69
science            68
culture            67
fitness            66
food               64
soccer             64
healthy eating     62
cooking            61
tennis             59
education          59
studying           58
dogs               58
public speaking    50
veganism           50
Name: count, dtype: int64

In [68]:
# Verify Deletion
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1000 non-null   int64
 1   Content ID   1000 non-null   object
 2   ContentType  1000 non-null   object
 3   Category     1000 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.4+ KB

In [69]:
#Exporting File

df1.to_csv('Clean_Content.csv')

## Cleaning Reactions.csv

In [70]:
# Loading Dataset
df2 = pd.read_csv("Reactions.csv")

In [71]:
# Reading DataFrame
df2.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [72]:
# Getting Shape, info and data type of thee dataframe
print(df2.shape)
print("-----------------------------------------\n")
df2.info()
print("-----------------------------------------\n")
df2.dtypes

(25553, 5)
-----------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  25553 non-null  int64
 1   Content ID  25553 non-null  object
 2   User ID     22534 non-null  object
 3   Type        24573 non-null  object
 4   Datetime    25553 non-null  object
dtypes: int64(1), object(4)
memory usage: 998.3+ KB
-----------------------------------------

Unnamed: 0     int64
Content ID    object
User ID       object
Type          object
Datetime      object
dtype: object

In [73]:
# Counting null values
df2.isnull().sum()

Unnamed: 0       0
Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64

In [74]:
# Removing the null values
df2 = df2.dropna()

In [75]:
# Checking the shape and count of null values again
print(df2.shape)
print("----------------")
df2.isnull().sum()

(22534, 5)
----------------

Unnamed: 0    0
Content ID    0
User ID       0
Type          0
Datetime      0
dtype: int64

In [76]:
count_type = df2['Type'].value_counts()
print(count_type)

Type
heart          1497
peeking        1438
scared         1436
adore          1427
interested     1425
hate           1420
love           1411
disgust        1406
dislike        1396
want           1396
super love     1393
like           1391
indifferent    1385
cherish        1380
worried        1379
intrigued      1354
Name: count, dtype: int64

In [77]:
# We don't need userID column

df2 = df2.drop(columns=["User ID"])

In [78]:
#Verify the column deletion
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22534 entries, 1 to 25552
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  22534 non-null  int64
 1   Content ID  22534 non-null  object
 2   Type        22534 non-null  object
 3   Datetime    22534 non-null  object
dtypes: int64(1), object(3)
memory usage: 880.2+ KB

In [79]:
#Exporting Data
df2.to_csv('Clean_Reaction.csv')

## Cleaning ReactionTypes.csv

In [80]:
df3 = pd.read_csv("ReactionTypes.csv")

In [81]:
df3

    Unnamed: 0         Type Sentiment  Score
0            0        heart  positive     60
1            1         want  positive     70
2            2      disgust  negative      0
3            3         hate  negative      5
4            4   interested  positive     30
5            5  indifferent   neutral     20
6            6         love  positive     65
7            7   super love  positive     75
8            8      cherish  positive     70
9            9        adore  positive     72
10          10         like  positive     50
11          11      dislike  negative     10
12          12    intrigued  positive     45
13          13      peeking   neutral     35
14          14       scared  negative     15
15          15      worried  negative     12

In [82]:
# Cheaking for null and duplicate values

null_count = df3.isnull().sum()
print(null_count)
print("----------------------------------------")
duplicate_count = df3.duplicated().sum()
print(duplicate_count)

Unnamed: 0    0
Type          0
Sentiment     0
Score         0
dtype: int64
----------------------------------------
0

#### This data is seems to be cleaned already.
#### Exporting Data

In [83]:
df3.to_csv("Clean_ReactionTypes.csv")

## Joining Tables

#### 1. Create a final data set by merging your three tables together

#### We recommend using the Reaction table as your base table, then first join the relevant columns from your Content data set, and then the Reaction Types data set.
#### Hint: You can use a “VLookUp” formula
 
#### 2. Figure out the Top 5 performing categories

#### Add up the total scores for each category.
#### Hint: You can use the “Sum If” formula

#### The end result should be one spreadsheet which contains:

#### A cleaned dataset
#### The top 5 categories

In [84]:
df4 = pd.read_csv("Clean_Reaction.csv")
df5 = pd.read_csv("Clean_Content.csv")

In [85]:
print(df4.head())
print("-------------------------------------------------------------------------------\n")
print(df4.info())

   Unnamed: 0.1  Unnamed: 0                            Content ID        Type  \
0             1           1  97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust
1             2           2  97522e57-d9ab-4bd6-97bf-c24d952602d2     dislike
2             3           3  97522e57-d9ab-4bd6-97bf-c24d952602d2      scared
3             4           4  97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust
4             5           5  97522e57-d9ab-4bd6-97bf-c24d952602d2  interested

              Datetime
0  2020-11-07 09:43:50
1  2021-06-17 12:22:51
2  2021-04-18 05:13:58
3  2021-01-06 19:13:01
4  2020-08-23 12:25:58
-------------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22534 entries, 0 to 22533
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  22534 non-null  int64
 1   Unnamed: 0    22534 non-null  int64
 2   Content ID    22534 non-null  object
 3   Type          22534 non-null  object
 4   Datetime      22534 non-null  object
dtypes: int64(2), object(3)
memory usage: 880.4+ KB
None

In [86]:
print(df5.head())
print("-------------------------------------------------------------------------------\n")
print(df5.info())

   Unnamed: 0.1  Unnamed: 0                            Content ID ContentType  \
0             0           0  97522e57-d9ab-4bd6-97bf-c24d952602d2       photo
1             1           1  9f737e0a-3cdd-4d29-9d24-753f4e3be810       photo
2             2           2  230c4e4d-70c3-461d-b42c-ec09396efb3f       photo
3             3           3  356fff80-da4d-4785-9f43-bc1261031dc6       photo
4             4           4  01ab84dd-6364-4236-abbb-3f237db77180       video

         Category
0        studying
1  healthy eating
2  healthy eating
3      technology
4            food
-------------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  1000 non-null   int64
 1   Unnamed: 0    1000 non-null   int64
 2   Content ID    1000 non-null   object
 3   ContentType   1000 non-null   object
 4   Category      1000 non-null   object
dtypes: int64(2), object(3)
memory usage: 39.2+ KB
None

In [87]:
df6 = pd.read_csv('Clean_ReactionTypes.csv')

In [88]:
df6.head()

   Unnamed: 0.1  Unnamed: 0        Type Sentiment  Score
0             0           0       heart  positive     60
1             1           1        want  positive     70
2             2           2     disgust  negative      0
3             3           3        hate  negative      5
4             4           4  interested  positive     30

In [89]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  16 non-null     int64
 1   Unnamed: 0    16 non-null     int64
 2   Type          16 non-null     object
 3   Sentiment     16 non-null     object
 4   Score         16 non-null     int64
dtypes: int64(3), object(2)
memory usage: 772.0+ bytes

In [90]:
df_merge1 = pd.merge(df4,df5,on="Content ID",how="inner")
df_merge = pd.merge(df_merge1,df6,on="Type",how="inner")

In [91]:
df_merge.head()

,Unnamed: 0.1_x,Unnamed: 0_x,Content ID,Type,Datetime,Unnamed: 0.1_y,Unnamed: 0_y,ContentType,Category,Unnamed: 0.1,Unnamed: 0,Sentiment,Score
0,1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,0,0,photo,studying,2,2,negative,0
1,2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,0,0,photo,studying,11,11,negative,10
2,3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,0,0,photo,studying,14,14,negative,15
3,4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,0,0,photo,studying,2,2,negative,0
4,5,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,0,0,photo,studying,4,4,positive,30

In [92]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22534 entries, 0 to 22533
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0.1_x  22534 non-null  int64
 1   Unnamed: 0_x    22534 non-null  int64
 2   Content ID      22534 non-null  object
 3   Type            22534 non-null  object
 4   Datetime        22534 non-null  object
 5   Unnamed: 0.1_y  22534 non-null  int64
 6   Unnamed: 0_y    22534 non-null  int64
 7   ContentType     22534 non-null  object
 8   Category        22534 non-null  object
 9   Unnamed: 0.1    22534 non-null  int64
 10  Unnamed: 0      22534 non-null  int64
 11  Sentiment       22534 non-null  object
 12  Score           22534 non-null  int64
dtypes: int64(7), object(6)
memory usage: 2.2+ MB

In [93]:
df_merge = df_merge.drop(columns=['Unnamed: 0.1_x','Unnamed: 0_x','Unnamed: 0.1_y','Unnamed: 0_y','Unnamed: 0.1','Unnamed: 0'])

In [94]:
df_merge.head()

,Content ID,Type,Datetime,ContentType,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,studying,negative,10
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,photo,studying,negative,15
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,studying,negative,0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,photo,studying,positive,30

In [101]:
category_scores = df_merge.groupby('Category')['Score'].sum().reset_index()
category_scores.columns = ['Category', 'Total Score']
category_scores_sorted = category_scores.sort_values(by='Total Score', ascending=False)
print(category_scores_sorted)

           Category  Total Score
0           animals        68624
9           science        65405
7    healthy eating        63138
12       technology        63035
6              food        61598
2           culture        60663
14           travel        59358
1           cooking        59174
10           soccer        53216
4         education        52759
5           fitness        50835
11         studying        49442
3              dogs        48398
13           tennis        46185
15         veganism        45901
8   public speaking        45751